## keep python compiled files outside
*.pyc

## keep offlineimap temp files outside
desktop/.offlineimap/*
!desktop/.offlineimap/offlineimap.py
!desktop/.offlineimap/offlineimaprc

## do not include backup information
desktop/.backup/*
!desktop/.backup/duplicity.sh

## do not include atom compiled files
desktop/.atom/*
!desktop/.atom/config.cson

## do not include texstudio stuff
desktop/.config/texstudio/*
!desktop/.config/texstudio/texstudioen_US.ign
!desktop/.config/texstudio/texstudiode_DE.ign
!desktop/.config/texstudio/texstudio.ini

## only include source of themes and current theme
desktop/.themes/*
!desktop/.themes/readme
!desktop/.themes/MediterraneanWhite/*
