# Do not automatically add changes in duplicity script
desktop/.backup/duplicity.sh
!desktop/.config/sway/py3status

# do not store all configurations
common/.env
common/.vim
common/.config/*
!common/.config/nvim/

## keep python compiled files outside
*.pyc

## keep offlineimap temp files outside
desktop/.offlineimap/*
!desktop/.offlineimap/offlineimap.py
!desktop/.offlineimap/offlineimaprc

## do not include backup information
desktop/.backup/*
!desktop/.backup/backup-list

## do not include doctl information
desktop/.config/doctl/*

## do not include atom compiled files
desktop/.atom/*
!desktop/.atom/config.cson
!desktop/.atom/keymap.cson
!desktop/.atom/atom-packages

## do not include texstudio stuff
desktop/.config/texstudio/*
!desktop/.config/texstudio/texstudioen_US.ign
!desktop/.config/texstudio/texstudiode_DE.ign
#desktop/.config/texstudio/texstudio.ini

# other config to ignore
desktop/.config/
desktop/.config/chromium
desktop/.config/pulse

## only include source of themes and current theme
desktop/.themes/*
!desktop/.themes/readme
!desktop/.themes/MediterraneanWhite/*
!desktop/.themes/iris-light-master/*

## do not store tmux sessions
common/.tmux/resurrect

# do not store decrypted file
common/quotes.dec
