[submodule "common/.tmux/plugins/tpm"]
	path = common/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "common/.zprezto"]
	path = common/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "desktop/.i3/py3status"]
	path = desktop/.i3/py3status
	url = https://github.com/ultrabug/py3status
[submodule "desktop/.config/.i3/py3status"]
	path = desktop/.config/.i3/py3status
	url = https://github.com/ultrabug/py3status
[submodule "desktop/.config/sway/py3status"]
	path = desktop/.config/sway/py3status
	url = https://github.com/ultrabug/py3status
