"*":
  "atom-beautify": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
    enableAutoActivation: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "linter-flake8"
      "enhanced-tabs"
      "autocomplete-css"
      "autocomplete-html"
      "minimap-find-and-replace"
      "minimap-git-diff"
      "minimap-highlight-selected"
      "vim-mode"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    projectHome: "/home/michael/"
    telemetryConsent: "no"
  editor:
    fontSize: 16
    invisibles: {}
    preferredLineLength: 160
    tabLength: 4
  "exception-reporting":
    userId: "27189852-e9fd-e29d-8dd5-6dde1069e158"
  "julia-client":
    enableMenu: true
    enableToolBar: true
    launchOnStartup: true
  linter:
    showErrorPanel: false
  "linter-flake8":
    maxLineLength: 120
  minimap:
    absoluteMode: true
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "platformio-ide-terminal":
    core:
      scrollback: 5000
      workingDirectory: "Active File"
    style:
      theme: "linux"
  "tool-bar":
    position: "Left"
    visible: false
  "uber-juno":
    disable: true
  welcome:
    showOnStartup: false
".console.julia.text":
  editor:
    preferredLineLength: 160
    tabLength: 4
".console.python.text":
  editor:
    softWrap: true
".julia.source":
  editor:
    preferredLineLength: 160
    tabLength: 4
".python.text.traceback":
  editor:
    softWrap: true
